{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
            <!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6" style="border:2px solid #eee;padding:20px;background:#fff;">
					<form method="post" class="checkout-form" enctype="multipart/form-data">
						{% csrf_token %}
                        <p class="alert alert-danger">Silmək istədiyinizə əminsiniz?</p>
                        <button type="submit" class="genric-btn primary-border radius">Sil</button>
                        <a class="genric-btn danger-border radius" href="{% url 'single' object.slug %}">Ləğv et</a>
					</form>


				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

{% endblock %}